/*.bat
/*/
/*.exe
/*.txt
/*.ini
/*.dat
/*.log
!/htdocs/
/htdocs/*/
!/htdocs/BoomCore/
!/htdocs/BoomCore/*


!/mysql/
/mysql/*
/mysql/*/
!/mysql/data/
!/mysql/data/*
/mysql/data_old
/mysql/data_old/
/mysql/data_old/*

