@import url("../assets/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@keyframes start {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes end {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

body {
  
}

/* cabeçalho */
#header {
  text-wrap: nowrap;
  width: auto;
  height: 60px;
  background-image: linear-gradient(90deg, #000000, #3533cd);
  opacity: 78%;
  padding: 10px 1% 10px 10%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
/* links */
#header a {
  color: white;
  text-decoration: none;
}

/*headerL (ESQUERDO)*/
/* area do logo  */
#header #headerL {
  margin-right: 25px;
}

.logo {
  height: inherit;
  width: 60px;
  text-align: left;
  display: inline-block;
}
/* imagem do logo  */
.logo img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}
/* link clicavel do logo  */
.logo a {
  height: 100%;
  width: 100%;
  display: block;
}
/* nome da empresa -> menu principal */
#header #boom {
  display: inline-block;
  height: inherit;
  margin: auto 0;
  font-size: 2em;
  font-family: "roboto";
  font-weight: bold;
  color: #ffffff;
  vertical-align: top;
  margin-top: 20px;
}

/* headerR (DIREITA) */
/* opcões do cabeçalho do site  */

#header #headerR {
  width: 800px;
}
#header #produtos {
  display: inline-block;
  height: inherit;
  vertical-align: top;
  p {
    /*texto*/
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 25%;
  }
  div {
    /*traço do produtos*/
    margin: 0 auto;
    margin-top: 5%;
    width: 0%;
    height: 3px;
    display: block;
    border-radius: 1em;
    text-align: center;
    background-color: white;
  }
}

#header #servicos {
  display: inline-block;
  height: inherit;
  vertical-align: top;
  margin-left: 3%;
  p {
    /*texto*/
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 28%;
  }
  div {
    /*traço do prodrltos*/
    margin: 0 auto;
    margin-top: 5%;
    width: 0%;
    height: 3px;
    display: block;
    border-radius: 1em;
    text-align: center;
    background-color: white;
  }
}

#header #atendimentos {
  display: inline-block;
  height: inherit;
  vertical-align: top;
  margin-left: 3%;
  p {
    /*texto*/
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 17%;
  }
  div {
    /*traço do produtos*/
    margin: 0 auto;
    margin-top: 5%;
    width: 0%;
    height: 3px;
    display: block;
    border-radius: 1em;
    text-align: center;
    background-color: white;
  }
}

#header #pesquisa {
  margin: 18px 0 0 3%;
  display: inline-block;
  vertical-align: top;

  input[type="text"] {
    height: 30px;
    font-size: large;
    border: 0px none transparent;
    vertical-align: middle;
  }
  input#botao {
    vertical-align: middle;
    margin-top: 0;
    height: 32px;
    width: 32px;
    padding: 1px 2px;
    border: unset;
    background: url("../assets/lupa.png") no-repeat scroll transparent;
    background-position: center;
    border-radius: 10px;
    transform: translateX(-38px);

    background-size: 25px 25px;
    object-fit: contain;
  }
  input#botao:hover {
    background-color: #0000003d;
  }
}

#header #user {
  width: 45px;
  height: 45px;
  vertical-align: top;
  transform: translateY(30%);
}

#header #notificacao {
  width: 45px;
  height: 45px;
  vertical-align: top;
  transform: translateY(30%);
  margin-left: 1.5%;
}
