@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f1f3f8;
}

/* cabeçalho */
#header {
  width: auto;
  height: 60px;
  background-image: linear-gradient(90deg, #000000, #3533cd);
  opacity: 78%;
  padding: 10px 80px;
}
/* links */
#header a{
  color: white;
  text-decoration: none;
}
/* area do logo  */
.logo {
  height: inherit;
  width: 60px;
  text-align: left;
  display: inline-block;
}
/* imagem do logo  */
.logo img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}
/* link clicavel do logo  */
.logo a{
  height: 100%;
  width: 100%;
  display: block;
}
/* nome da empresa -> menu principal */
#header #boom {
  display: inline-block;
  height: inherit;
  vertical-align: middle;
  font-size: larger;
  font-family: "roboto";
  font-weight: bold;
  color: #ffffff;
}


/* opcões do cabeçalho do site  */
#header #produtos{
  display: inline-block;
  height: inherit;
  vertical-align: top;
  margin-left: 20%;
  p{
    transform: translateY(100%);
    font-size: larger;
    font-weight: bold;
  }
  div{
      width: 70%;
      height: 3px;
      display: block;
      border-radius: 1em;
      text-align: center;
      transform: translate(20%, 800%);
      
      

      background-color: white;
  }
}
