@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: url(../images/fundo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  width: 100%;
  color: white;
  font-family: "Roboto";
}

@keyframes start {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes end {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
/* @keyframes abrirOpcoesUsuario {
  0% {
    height: 0px;
  }
  100% {
    height: fit-content;
  }
}
@keyframes fecharOpcoesUsuario {
  0% {
    height: fit-content;
  }
  100% {
    height: 0px;
  }
} */

/* cabeçalho */
#header {
  top: 0;
  position: sticky;
  z-index: 1;
  text-wrap: nowrap;
  width: auto;
  height: 60px;
  /*background-image: linear-gradient(90deg, #707070a8, #3633cda8);*/
  background-color: #000000a0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.74);
  opacity: 100%;
  padding: 10px 1% 10px 10%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 40px;
}
/* links */
#header a {
  color: white;
  text-decoration: none;
}

/*headerL (LADO ESQUERDO)*/
/* area do logo  */
#header #headerL {
  margin-right: 25px;
}

.logo {
  height: inherit;
  width: 60px;
  text-align: left;
  display: inline-block;
}
/* imagem do logo  */
.logo img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}
/* link clicavel do logo  */
.logo a {
  height: 100%;
  width: 100%;
  display: block;
}
/* nome da empresa -> menu principal */
#header #boom {
  display: inline-block;
  height: inherit;
  margin: auto 0px;
  font-size: 2.2em;
  font-family: "Roboto";
  font-weight: bold;
  color: #ffffff;
  vertical-align: top;
  margin-top: 10px;
}
/* frase pequena */
#header #boom small {
  font-size: 0.57em;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2em;
}

/* headerR (DIREITA) */
/* opcões do cabeçalho do site  */
#header #headerR {
  width: 850px;
}

#header .opcoesHeader {
  display: inline-block;
  height: fit-content;
  vertical-align: top;
  margin-left: 3%;
  transform: translateY(60%);
}
#header .opcoesHeader p {
  /*texto*/
  line-height: 27px;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
}

#header .opcoesHeader .traco {
  margin: 0 auto;
  margin-top: 5%;
  width: 0%;
  height: 3px;
  display: block;
  border-radius: 1em;
  text-align: center;
  background-color: white;
  transition: 0.2s;
}

#header .opcoesHeader:hover .traco {
  width: 100%;
}

#header #pesquisa {
  margin: 18px 0 0 3%;
  display: inline-block;
  vertical-align: top;
}
#header #pesquisa input[type="text"] {
  height: 30px;
  font-size: large;
  border: 0px none transparent;
  vertical-align: middle;
}
#header #pesquisa input#botao {
  vertical-align: middle;
  margin-top: 0;
  height: 32px;
  width: 32px;
  padding: 1px 2px;
  border: unset;
  background: url("../images/lupa.png") no-repeat scroll transparent;
  background-position: center;
  border-radius: 10px;
  transform: translateX(-38px);

  background-size: 25px 25px;
  object-fit: contain;
}
#header #pesquisa input#botao:hover {
  background-color: #0000003d;
}

#header #user #botaousuario img {
  width: 45px;
  height: 45px;
  vertical-align: top;
  cursor: pointer;
}

#header #user:hover #opcoesUsuario {
  display: inline-block;
}
#header #user #botaoUsuario {
  padding: 7px;
  background-color: transparent;
  border: unset;
  border-radius: 100%;
}
#header #user #botaoUsuario:hover {
  background-color: #0000003d;
}

#header #user #opcoesUsuario {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 150px;
  height: min-content;
  right: 90px;
  top: 70px;
  border-radius: 10px;
  padding-top: 10.5px;
  border: 2px solid rgba(255, 255, 255, 0.74);
}

#header #user #opcoesUsuario .opcaoUser {
  background-color: transparent;
  border: unset;
  color: white;
  padding: 0;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 2em;
  font-size: larger;
  margin-top: -10px;
  width: 100%;
  /* background-color: transparent; */
  display: grid;
  transition: background-color 0.2s;
  /* border-top: 2px solid rgba(255, 255, 255, 0.74); */
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.74); */
}

#header #user #opcoesUsuario .opcaoUser:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#header #user #opcoesUsuario input.opcaoUser {
  cursor: pointer;
}

#header #notificacao {
  width: 45px;
  height: 45px;
  vertical-align: top;
  transform: translateY(30%);
  margin-left: 1.5%;
}
